ggplot2
dplyr
tidyr
readr
stringr
lubridate
purrr
tibble
forcats
shiny
rmarkdown
knitr
devtools
roxygen2
testthat
usethis
here
janitor
skimr
broom
modelr
corrplot
plotly
DT
leaflet
RColorBrewer
viridis
scales
gridExtra
cowplot
patchwork
